{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '98.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Task Management System</title>
</head>
<body>
  <div class="window">
    <div class="title-bar">
      <div class="title-bar-text">
        Task Management System
      </div>
    </div>
    <div class="window-body">
      <div class="field-row">
        <a href="api/tasks" class="button">
          <button>Tasks</button>
        </a>
        <a href="api/users" class="button">
          <button>Users</button>
        </a>
      </div>
    </div>
  </div>
</body>
</html>