services:
  postgres:
    build:
      context: .
      dockerfile: images/postgres/Dockerfile
    env_file: .env
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      PGUSER: $POSTGRES_USERNAME
    healthcheck:
      interval: 1s
      retries: 5
      test: ["CMD-SHELL", "pg_isready"]
      timeout: 5s
    hostname: postgres
    restart: always
    shm_size: 128mb
    volumes:
      - postgres-data:/var/lib/postgresql/data

  django:
    build:
      context: .
      dockerfile: images/django/Dockerfile
    env_file: .env
    environment:
      DJANGO_SUPERUSER_EMAIL: $DJANGO_SUPERUSER_EMAIL
      DJANGO_SUPERUSER_USERNAME: $DJANGO_SUPERUSER_USERNAME
      DJANGO_SUPERUSER_PASSWORD: $DJANGO_SUPERUSER_PASSWORD
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - ${DJANGO_PORT}:8000
    restart: always
    volumes:
      - ./src:/app

volumes:
  postgres-data:
