{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '98.css' %}">
	<link rel="stylesheet" href="{% static 'registration/style.css' %}">
    <title>Revving - Login</title>
</head>
<body>
	<div class="window">
		<div class="title-bar"></div>
		<div class="window-body">
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Login</button>
			</form>
		</div>
	</div>
</body>