{% load static %}
{% load humanize %} 

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'invoices/style.css' %}">
    <link rel="stylesheet" href="{% static '98.css' %}">
    <title>Revving - Invoices</title>
</head>
<body>
  <div class="window">
    <div class="title-bar">
      <div class="title-bar-text">
        {% if view_type == "customers" %}
          Invoices
        {% elif view_type == "years" %}
          Invoices\{{ selected_customer }}
        {% elif view_type == "months" %}
        Invoices\{{ selected_customer }}\{{ selected_year }}
        {% elif view_type == "invoice_info" %}
          Invoices\{{ selected_customer }}\{{ selected_year }}\{{ selected_month }}
        {% endif %}
      </div>
      <form action="{% url 'logout' %}" method="post">
        <span class="log-info">Logged in as <b>{{ user.username }}</b></span>
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
    </div>
    <div class="window-body">
      {% for invoice_info in invoices_info %}
        {% if view_type == "customers" %}
          <a href="?customer_id={{ invoice_info.customer_id }}">
            {{ invoice_info.customer_name }}
          </a>
          <span class="invoices-count">Total invoices: {{ invoice_info.total_invoices }}</span>
        {% elif view_type == "years" %}
            <a href="?customer_id={{ invoice_info.customer_id }}&year={{ invoice_info.year }}">
            {{ invoice_info.year }}
            </a>
            <span class="invoices-count">Total invoices: {{ invoice_info.total_invoices }}</span>
        {% elif view_type == "months" %}
          <a href="?customer_id={{ invoice_info.customer_id }}&year={{ invoice_info.year }}&month={{ invoice_info.month_id }}">
            {{ invoice_info.month_name }}
          </a>
          <span class="invoices-count">Total invoices: {{ invoice_info.total_invoices }}</span>
        {% elif view_type == "invoice_info" %}
        <span class="invoices-info">
          {% for source_revenue in invoice_info.source_revenue_info %}
            {{ source_revenue.revenue_source_name }}
            <ul class="tree-view">
              <span class="invoices-count">Total invoices: {{ source_revenue.total_invoices }}</span>
              <span class="invoices-info-box">
                Total invoices amount:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="underline">{{ source_revenue.total_adjusted_gross_value|floatformat:2|intcomma }} {{ source_revenue.currency_code }}</span>
                <br>
                Available advance amount:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="underline">{{ source_revenue.available_advance|floatformat:2|intcomma }} {{ source_revenue.currency_code }}</span>
                <br>
                Monthly fee amount:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="underline">{{ source_revenue.monthly_fee_amount|floatformat:2|intcomma }} {{ source_revenue.currency_code }}</span>
                <br>
              </span>
            </ul>
            <br>
          {% endfor %}
        </span>

        </span>
        {% endif %}
        <br>
      {% endfor %}
    </div>
  </div>
</body>
</html>